{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>VisualOntology-OKBS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/pages.css' %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.1/css/select2.min.css" rel="stylesheet" />

    {% block header %}{% endblock %}
    </head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'images/logo-SWAG.png' %}" width="auto" height="50"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsMain"
            aria-controls="navbarsMain" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsMain">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="mapping" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Node-Links</a>
                <div class="dropdown-menu mapping" aria-labelledby="mapping">
{#                    <a class="dropdown-item" href="">Diagram</a>#}
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="timebased" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">Timeline</a>
                <div class="dropdown-menu timebased" aria-labelledby="timebased">
{#                    <a class="dropdown-item" href="">Diagram</a>#}
                </div>
            </li>
{#            <li class="nav-item">#}
{#                <a class="nav-link disabled">Hierarchy</a>#}
{#            </li>#}
        </ul>
{#        <form class="form-inline my-2 my-lg-0">#}
{#            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">#}
{#            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
{#        </form>#}
    </div>
</nav>

<main role="main" class="container">
    <div class="container">
        {% block container %}{% endblock %}
    </div>
</main>

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-center">Add your footer here.</div>
            <div class="col-md-2">
                <h5>Resource</h5>
                <a class="navbar-brand" href="https://github.com/mamilkew/VisualOntology-OKBS">
                    <img src="{% static 'images/Octocat.png' %}" width="auto" height="30"/> Github
                </a>
            </div>
            <div class="col-md-2">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static 'images/logo-SWAG.png' %}" width="auto" height="80"/>
                </a>
            </div>
        </div>

    </div>
</footer>

<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.1/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        {% for each in navbarMain %}
            $("div.mapping").append('<a class="dropdown-item" href="{% url 'pages_forcegraph' each.id %}">{{ each.page_title }}</a>');
        {% endfor %}

        {% for each in navbar_timeline %}
            $("div.timebased").append('<a class="dropdown-item" href="{% url 'timelinegraph' each.id %}">{{ each.page_title }}</a>');
        {% endfor %}
    });
</script>
{% block javascript %}{% endblock %}
</body>
</html>